header {
  font-weight: bold;
  font-size: 24px;
  padding: 10px;
  background: rgb(255 255 255 / 30%);
  backdrop-filter: blur(8px);
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid rgba(255, 255, 255, 50%);
}
header a {
  text-decoration: none;
  color: inherit;
}
nav {
  display: flex;
  justify-content: space-between;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 10px;
}
nav ul li {
  display: inline;
}
footer {
  border-top: 1px solid rgba(255, 255, 255, 50%);
  padding: 10px;
  background: rgb(167, 167, 167);
}
